a{
    color: white;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(/img/wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;    
    overflow-x: hidden;
}
header {
    background-color: rgba(255, 255, 255, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 2%;
}
footer {
    background-color: rgba(245, 222, 179, 0.8);
    color: tomato;
    text-align: center;
    padding: 10px 0;
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}
.logo img {
    width: 20%; 
}
.content {
    margin-bottom: 100px;
}


.container_menu{
    text-align: center;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 20px;
    padding: 10px 30px;
   
    
    display: flex;
    justify-content: center;
    /* align-items: line;
    flex-direction: column; */
}
.container_menu button{
    width: 250px;
    background: linear-gradient( rgb(75, 117, 136), #3b6a86);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding: 10px 30px;    
    margin: 5px 0;
    color: white;
}
.container_menu button:hover{
    cursor: pointer;
    background: linear-gradient( #8B4513, #F5DEB3);
}



#botaoVoltar {
    background-color: #7f848a;
    color: #000000;
    border: none;
    padding: 15px 27px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}
#botaoSair {
    background-color: #ff4136; /* Cor diferente para o botão "Sair" */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}



/*  PAGINA ADMPRODUTOS  */


input[type=text]{
    margin: 1%;
    height: 100%;
    text-align: center; 
    border: none;   
    background-color: rgba(65, 65, 65, 0.2);
    color: white;
    outline: none;
    width: 90%;
    font-size: 18px;
}
input[type=text]::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

input[type=reset]{
    cursor: pointer;
    background-color: rgb(133, 1, 1);
    color: white;
    border: solid rgb(138, 0, 0);
}
input[type=reset]:hover{
    background-color: rgb(133, 1, 1);
    color: white;
    border: solid rgb(138, 0, 0);
}
input[type=submit]{
    cursor: pointer;
    background-color: rgb(70, 165, 70);
    color: white;
    border: solid rgb(70, 165, 70);
}
input[type=submit]:hover{
    background-color: rgb(138, 245, 138);
    color: green;
    border: solid rgb(2, 190, 2);
}
input[type=date]{
    background: none;
    border: white;
    text-align: center;
    color: white;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
}


.btn_Delete{
    cursor: pointer;
    background-color: rgb(133, 1, 1);
    color: white;
    border: none;
}
.btn_Delete:hover{
    background-color: rgb(133, 1, 1);
    color: white;
    border: none;
}
.btn_Edit{  
    cursor: pointer;  
    background-color: rgb(70, 165, 70);
    color: white;
    border: none;
}
.btn_Edit:hover{    
    background-color: rgb(70, 165, 70);
    color: green;
    border: rgb(138, 245, 138);
}


/* TABELAS */
/* ADM */
.tb_EAdm{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.tb_tr_EAdmT{
    background-color: rgb(255, 255, 255);
    color: tomato;
}
.tb_tr_EAdmInsert{
    background-color: rgba(68, 34, 19, 0.8);
    color: #ff4136;
}
.tb_tr_EAdmList{
    background-color: rgba(68, 34, 19, 0.8);
    color: white;
    font-size: 16;
}
.celTopL{
    border-radius: 0px 0 0 0;
}
.celTopR{
    border-radius: 0 0px 0 0;
}
.celBottonL{
    border-radius: 0 0 0 0px;
}
.celBottonR{
    border-radius: 0 0 0px 0;
}
a{
    padding: 10px;
}

